
.home-page {
  position: relative;
  background-image: url("https://res.cloudinary.com/delscyuhi/image/upload/v1698382822/nisvolmhtynjtzj9eijo.png");
  background-size: cover;
  background-position: center;
  min-height: 63vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.background-image {
  padding: 20px;
  border-radius: 10px;
}

.hours-section {
  background-color: white; /* Set the background color for the Hours section */
  padding: 20px;
  margin-top: 20px;
  border-radius: 10px;
}
