.home-page {
  position: relative;
  /* background-image: url("https://res.cloudinary.com/delscyuhi/image/upload/v1698894999/oij6uwqd9jvql6fufyqu.jpg"); */
  background-size: cover;
  background-position: center;
  min-height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.background-image {
  padding: 20px;
  border-radius: 10px;
}

.hours-section {
  background-color: rgb(255, 255, 255); /* Set the background color for the Hours section */
  padding: 20px;
  margin-top: 20px;
  border-radius: 10px;
}

/* navbar.css */

.active-link {
  transition: color 0.3s; /* Add a smooth transition effect */
}

.active-link:hover {
  color: red; /* Change the color to red on hover */
}

